.body-background {
    background: #C5E1A5;
}
.container{
    width: 98%;
    border: 1px solid black;
}
.form-group{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.form-control {
    border-radius: 9px;
    border: none;
    height: 30px;
    width: 140px;
    padding-left: 20px;
}
.form-control:focus{
    outline-color:rgb(188, 221, 242);
    border-width: .5px;
}
.form-label{
    display: inline;
}
.form-input{
    width: 100px;
    display: inline;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}