button:disabled{
    color:blue
}
button:enabled{
    color:yellow
}
input:read-only{
    background-color:gray
}
li:hover:nth-child(2n){
    color:greenyellow
}
li:hover:nth-child(2n+1){
    color:red
}

p::after{
    content: " - world";
}
p::before{
    content: " - Hello ";
}
/*negative sudo classes */
p:not(.ca){
    color:seagreen
}
